button {
  background-color: #0069b9;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
}

button.icon {
  font-size: 20px;
  padding: 5px;
  color: #fff;
}

button.filterButton {
  padding: 5px 15px;
}

button.filterButton:hover {
  background-color: #333;
}

button.filterButton:hover span {
  color: #fff !important;
}

button.filterButton.active {
  background-color: #333;
}

button.text {
  padding: 5px 15px;
}

button.search-list {
  padding: 2px 5px;
  justify-content: flex-start;
  background-color: #0069b9;
  margin-bottom: 1px;
  border-radius: 0;
}

button.search-list span {
  text-align: left;
  color: #fff;
}

button.text.active {
  color: #f8e831;
  cursor: default;
}

button.text span:first-child {
  font-size: 18px;
  color: #fff;
}

button:hover span:first-child {
  color: #f8e831;
}
button .cart-no {
  background-color: #f8e831;
  color: #333;
  width: 25px;
  height: 25px;
  display: block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-left: 5px;
}
