.product {
  flex: 0 0 300px;
  border: 1px solid #cfcfcf;
  height: auto;
  position: relative;
  width: 300px;
}

.product .img-box {
  padding: 5px;
}

.product .img-box img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.product .product-name {
  background-color: #0069b9;
  color: #fff;
  height: 60px;
  margin-top: 10px !important;
  padding: 10px !important;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.product .product-name p {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-word;
}

.product .rating {
  background-color: #047bd5;
  display: flex;
  color: #fff;
}

.product .price-rating-box {
  display: flex;
  font-size: 24px;
  padding: 5px;
  align-items: center;
}

.product .price-rating-box span {
  font-size: 18px;
  margin-right: 8px;
}

.product .price-rating-box .price {
  margin-left: -6px;
}

.product .button-box {
  padding: 5px;
  align-items: center;
  display: flex;
}
